.root {
    background-color: bisque;
    font-weight: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
    
    background-color: bisque;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    margin-top: 100px;
    text-align: center;
}

.btn {
    background-color: #04a99a;
    position: relative;
    font-size: large; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    border-width: 2rem;
    border-color: cornflowerblue;
    border-radius: 2rem;
    border: solid;
    border-color: blueviolet;
    box-shadow: 0 0 20px 2px;
    padding: 2rem 2rem;
    color: white;

}